<%= form_for @portal, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <% if @portal.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@portal.errors.count, "error") %> prohibited this portal from being saved:</h2>

      <ul>
      <% @portal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group clearfix">
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :note, :class => 'text_area' %>
      </div>
    </div>
    <div class="control-group clearfix">
      <%= f.label :status_string, 'Status', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :status_string, ["Live", "Destroyed"], :class => 'select' %>
      </div>
    </div>
    <div class="control-group clearfix">
      <%= f.label :destroyed_by, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :destroyed_by, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group clearfix">
      <%= f.label :destruction_date, :class => 'control-label' %>
      <div class="controls">
        <% Time.use_zone("Kuala Lumpur") do %>
          <%= f.datetime_select :destruction_date, :order => [:day, :month, :year], :ampm => true, :minute_step => 1, :class => 'datetime_select' %>
        <% end %>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.hidden_field :page, value: params[:page] %>
    <%= f.submit nil, :class => 'btn btn-primary', :onclick => "$(body).addClass('loading');" %>
    <%= link_to 'Cancel', :back, :class => 'btn' %>
  </div>
<% end %>
